.five_page{
    display: flex;
    flex-direction: column;
    padding-bottom: 7vw;
}
.title_lontakt{
    font-weight: normal;
    padding: 20px;
    font-size: 3.5vw;
    margin-left: 3vw;
}
.block_contackt_forma{
    display: flex;
    flex-direction: row;
}
.text_forma{
    width: 40%;
    padding: 15px;
}
.forma_kontakt{
    width: 60%;
}
.image_kontakt{
    border-radius: 100px;
    width: 650px;
    height: 500px;
    background-image: url(".././images/sosna.jpg");
    background-size: cover;
    background-position: center;
    margin: 10vh auto;
}
.text_cont_inf{
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
}
.contaci_a_inf{
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
}
.contact_inf_eco{
    margin-top: 2vh;
    color: white;
    font-size: 25px;
    margin-left: 2vw;
}
.block_inc_contact{
    padding: 10px;
}
.bi-telephone, .bi-envelope{
    font-size: 25px;
}
.text_kontakt_phone{
    margin-top: 15vh;
}
/*FOR MOBILE PHONES*/
@media screen and (max-width: 770px) and (max-height: 1080px){
    .block_contackt_forma{
        display: flex;
        flex-direction: column;
    }
    .text_forma{
        width: 100%;
    }
    .forma_kontakt{
        width: 100%;
    }
    .title_lontakt{
        font-weight: normal;
        padding: 20px;
        font-size: 6vw;
        margin-left: 0;
        text-align: center;
    }
    .image_kontakt{
        border-radius: 50px;
        width: 90vw;
        height: 85vw;
    }
}
/*FOR TABS*/
@media screen and (min-width: 700px) and (max-width: 1100px) and (max-height: 1400px){
    .block_contackt_forma{
        display: flex;
        flex-direction: column;
    }
    .text_forma{
        width: 100%;
    }
    .forma_kontakt{
        width: 100%;
    }
    .title_lontakt{
        font-weight: normal;
        padding: 20px;
        font-size: 6vw;
        margin-left: 0;
        text-align: center;
    }
    .image_kontakt{
        border-radius: 50px;
        width: 90vw;
        height: 85vw;
    }
    .text_cont_inf p{
        font-size: 3vw;
    }
    .bi-telephone, .bi-envelope{
        font-size: 50px;
    }
    .contact_inf_eco{
        font-size: 50px;
    }
}
