.third_page{
    width: 100%;
    padding-bottom: 30vh;
    display: flex;
}
.title_price{
    font-weight: normal;
    font-size: 3vw;
    padding: 15px;
    margin-top: 7vh;
    margin-left: 3vw;
}
.title_price2{
    font-weight: normal;
    font-size: 2vw;
    padding: 15px;
    margin-top: 7vh;
    margin-left: 4vw;
}
.left_block_price{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.right_block_price{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.left_block_price p{
    margin-left: 3vw;
    letter-spacing: 3px;
}
ul{
    width: 65%;
    margin: 0 auto;
}
li{
    margin-top: 3vh;
}
.button_price{
    width: 100%;
    position: absolute;
    height: 15vh;
    margin-top: 95vh;
}
.button_price p{
    width: 70%;
    text-align: center;
    margin: 1vh auto;
}
/*FOR MOBILE PHONES*/
@media screen and (max-width: 770px) and (max-height: 1080px){
    .third_page{
        display: flex;
        flex-direction: column;
        padding-bottom: 35vw;
    }
    .left_block_price{
        width: 100%;
        text-align: center;
    }
    .left_block_price p{
        font-size: 3.5vw;
    }
    .title_price{
        font-size: 7vw;
    }
    .right_block_price{
        width: 100%;
    }
    ul{
        width: 95%;
        font-size: 4vw;
    }
    .title_price2{
        font-size: 6vw;
        text-align: center;
    }
    .button_price{
        width: 100%;
        position: relative;
        height: 15vh;
        margin-top: 5vh;
    }
    .button_price p{
        width: 90%;
        text-align: center;
        margin: 1vh auto;
        font-size: 4vw;
    }
}